 <section class="container mt-3">
    <div class="card shadow p-3">
        <div class="row">
            <figure class="col-12 col-md-3">
                <img class="img-fluid" [src]="miProducto.image" [alt]="miProducto.name">
            </figure>
            <div class="col-12 col-md-9">
                <h4 class="card-title">{{miProducto.name}}</h4>
                <p class="card-text"><strong>ID: </strong>{{miProducto._id}}</p>
                <p class="card-text"><strong>Descripción: </strong>{{miProducto.description}}</p>
                <p class="card-text"><strong>Precio: </strong>{{miProducto.price}}€</p>
                <p class="card-text"><strong>Categoría: </strong>{{miProducto.category}}</p>
                <!-- <p class="card-text"><strong>¿Activo?: </strong>{{miProducto.active}}</p> -->
                <app-boton [parent]="'view'" [_id]="miProducto._id"></app-boton>
            </div>
            
        </div>
    </div>
  </section>